.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.friends {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.friends li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 0.5em;
    padding: 0.3em 0;
    height: 3em;
    border-radius: 4px;
    width: 300px;
}

.friends li.selected:hover {
    background-color: #BBD8DC !important;
    color: white
}

.friends li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: 0.1em;
}

.friends .text {
    position: relative;
    top: -3px;
}

.friends .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 3em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 100px;
}
