<nav class="navbar navbar-inverse mavbar-fixed-top"> 
  <div class="container"> 
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img width="26" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </a>
      <a class="navbar-brand" href="#">
        Welcome to {{title}}!
      </a>
    </div>
  </div>
</nav>
<div class="container">
   <div class="row">
       <div class="col-xs-3" id="myScrollspy">
           <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">     
              <li>
                <a routerLink="/myFriends" routerLinkActive="active">
                  <span class="glyphicon glyphicon-user"> 我的好友</span>
                </a>
              </li>
              <li>
                <a routerLink="/addFriend" routerLinkActive="active">
                  <span class="glyphicon glyphicon-plus"> 添加好友</span>
                </a>
              </li>
              <!--
              <li>
                <a routerLink="/chatRoom/:username" routerLinkActive="active">
                  <span class="glyphicon glyphicon-comment"> 聊天室</span>
                </a>
              </li>
            -->
              <li >
                <a routerLink="/userInfo" routerLinkActive="active">
                  <span class="glyphicon glyphicon-cog"> 我的信息</span>
                </a>
              </li>
           </ul>
       </div>
       <div class="col-xs-9">
        <router-outlet></router-outlet>
       </div>
   </div>
</div>
